<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <a href="/admin/home">Back</a>
    <form action="" method="post">
        <table>
            <tr><th>Username</th>
                <th>Passoword</th>
                <th>Employee Name</th>
                <th>Contact</th>
                <th>Role</th>
            </tr>
            <tr>
                <td><input type="text" name="username" id=""></td>
                <td><input type="text" name="password" id=""></td>
                <td><input type="text" name="employeename" id=""></td>
                <td><input type="text" name="contact" id=""></td>
                <td><input type="text" name="role" id=""></td>
                <td> <input type="submit" value="insert"></td>
            </tr>
        </table>
    </form>
</body>
</html>