<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
</head>
<body>
    <h1>Welcome Home</h1>
    
    <a href="/admin/addemployee">Add Employee</a>||
    <a href="/logout">Logout</a>
    
</body>
</html>